.header{
	text-align: center; 
	color: white;
} 

.box {
	text-align: center; 
}

.companies {
	text-align: center; 
	color: white;
	padding-bottom: 5%; 
}

.title{
	text-align: center; 
	color: white;
}

.box {
	background-color: white;
	opacity: .9; 
	margin-left: 15%; 
	margin-right: 15%; 
	margin-top: 5%; 
	margin-bottom: 5%; 
	padding-top: 3%;
}

.search-class {
	width: 800px !important;
}

.found-companies {
	color:white;
	text-align: center; 
	padding-top: 5%;
	padding-bottom: 5%; 
}
