<h1 class = "title">Companies</h1> 
<br>
<br> 

<div class = "found-companies"> 
  <%if @found_companies == nil || @found_companies.length == 0 %>
  <h2 class = "companies"> Sorry, we couldn't find what you were looking for. Please try searching again.</h2> 
  <%else%> 			
    <%@found_companies.each do |company| %> 
      <%= company.symbol %> 
      <%= link_to company.name, company_path(company)%>    
		<br> 
	 <%end%> 
	<%end%> 
</div>

