<h1 class = "title">Search Results</h1> 
<br>
<br> 

<div class = "companies" > 
<% @found_companies.each do |company| %> 
	<%= company.symbol %> 
	<%= link_to company.name, company_path(company)%>    
	<br> 
<%end%> 

</div>
