<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Line Chart Test</title>
  </head>

  <body class = "graph" onload="displayLineChart(<%=@labels%>, <%=@data%>);">
	  <h1 class = "header"><%=@company_name%></h1> 
	  <div class="box">
	    <canvas id="lineChart" height="450" width="800"></canvas>
	  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script language="JavaScript">
  
  $(document).on('page:load', function(){

	});
  
  </script>
  </body>
</html> 